/* Variáveis de Cor */
:root {
    --dark-color: #101010;
    --white-color: #ffffff;
    --highlight-color: #ffd413;
}

.swiper-button-prev, .swiper-button-next {
    background-color: #101010 !important;
    background-size: 35%;
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

section {
    padding: 0 !important;
}


/* CSS para o primeiro SECTION da página */
.section-boundary {
    color: var(--white-color);
    height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
    border: none;

    background-image: linear-gradient(to right, var(--highlight-color), var(--white-color) );
    display: flex;
    align-items: center;
}

.section-boundary .content {
    background-color: var(--dark-color);
    height: 70vh;
    width: 70vw;
    
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    /* text-shadow: 0.5px 0.5px var(--dark-color); */

    display: flex;
    align-items: center;
    padding: 2%;
}

.section-boundary .content-edge {
    border-left: 3.5vw solid var(--dark-color);
    border-top: 30vh solid transparent;
    border-bottom: 40vh solid transparent;
}

.section-boundary .content-strip {
    border-left: 5vw solid transparent;
    border-top: 45vh solid var(--dark-color);
    border-bottom: 55vh solid var(--dark-color);

    margin-left: -3vw;
}

.section-boundary .content-end {
    border-left: 5vw solid var(--dark-color);
    border-top: 45vh solid transparent;
    border-bottom: 55vh solid transparent;

    /* width: 7vw;
    height: 100vh;
    border-top-right-radius: 7vw;
    border-bottom-right-radius: 7vw;
    background-color: var(--dark-color); */
    /* background-image: linear-gradient(to right, #101010 10%, transparent ); */
    z-index: 2;
}

.section-boundary .content-bg {
    width: 25vw;
    height: 100vh;

    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;

    margin-left: -5vw;
    overflow: hidden;
}



/* CSS para o segundo SECTION da página */
.inverse {
    color: var(--dark-color) !important;

    background-image: linear-gradient(to left, var(--highlight-color), var(--dark-color) 70% ) !important;

    justify-content: flex-end !important;
}

.inverse .content-inverse {
    background-color: var(--white-color) !important;

    /* text-shadow: 0.5px 0.5px var(--dark-color); */
}

.inverse .content-strip-inverse, .inverse .content-end-inverse {
    border-right-style: solid !important;
    border-right-width: 5vw !important;
}

.inverse .content-edge-inverse {
    border-left: none !important;

    border-right: 3.5vw solid var(--white-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.inverse .content-strip-inverse {
    border-left: none !important;

    border-right-color: transparent;
    border-top-color: var(--white-color);
    border-bottom-color: var(--white-color);

    margin-right: -3vw;
    margin-left: 0 !important;
}

.inverse .content-end-inverse {
    border-left: none !important;

    border-right-color: var(--white-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.inverse .content-bg-inverse {
    background-image: url("../img/5.jpg") !important;

    margin-right: -5vw;
    margin-left: 0 !important;
}
