/* Vari치veis de Cor */
:root {
    --dark-color: #101010;
    --white-color: #ffffff;
    --highlight-color: #ffd413;
}

.row.card-deck {
    margin: 0 !important;
}

.row .row {
    margin-bottom: 1.875rem !important;
}

.swiper-button-prev, .swiper-button-next {
    background-color: #101010 !important;
    background-size: 35%;
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

section {
    padding: 0 !important;
}


/* CSS para o primeiro SECTION da p치gina */
.section-boundary {
    color: var(--white-color);
    height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
    border: none;

    background-image: linear-gradient(to left, var(--highlight-color), var(--white-color) );
    display: flex;
    align-items: center;

    box-shadow: 0px 0px 20px 0px #101010;
}


.section-boundary .content {
    background-color: var(--dark-color);
    height: 70vh;
    width: 70vw;
    
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2%;
}

.section-boundary .content a {
    font-size: 1em !important;
    color: var(--highlight-color);

    margin-bottom: 5%;
}

.section-boundary .content-edge {
    border-left: 3.5vw solid var(--dark-color);
    border-top: 30vh solid transparent;
    border-bottom: 40vh solid transparent;
}

.section-boundary .content-strip {
    border-left: 5vw solid transparent;
    border-top: 45vh solid var(--dark-color);
    border-bottom: 55vh solid var(--dark-color);

    margin-left: -3vw;
}

.section-boundary .content-end {
    border-left: 5vw solid var(--dark-color);
    border-top: 45vh solid transparent;
    border-bottom: 55vh solid transparent;

    z-index: 2;
}

.section-boundary .content-bg {
    width: 25vw;
    height: 100vh;

    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;

    margin-left: -5vw;
    overflow: hidden;
}



/* CSS para o segundo SECTION da p치gina */
.light-content {
    height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
    border: none;
}


.card {
    border: 3px solid var(--dark-color) !important;
    padding: 0 !important;
    color: var(--highlight-color);
    text-shadow: 1.1px 1.1px var(--dark-color);

    box-shadow: 5px 5px 10px grey;
}

.card a {
    color: var(--highlight-color);
    text-shadow: 1.1px 1.1px var(--dark-color);
}

.card-esquerda {
    background-image: linear-gradient(to top, var(--dark-color), var(--white-color) 40%);
    /*border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*/
}

.card-direita {
    background-image: linear-gradient(to bottom, var(--dark-color), var(--white-color) 40%);
    /*border-top-left-radius: 25px;
    border-top-right-radius: 25px;*/
}



/* CSS para o terceiro SECTION da p치gina */
.inverse {
    justify-content: flex-end !important;
    background-image: linear-gradient(to right, var(--highlight-color), var(--white-color) ) !important;
}

.inverse .content {
    text-align: end;
}

.inverse .content-edge-inverse, .inverse .content-strip-inverse, .inverse .content-end-inverse {
    border-right-style: solid;
    border-right-width: 5vw;
    border-right-color: var(--dark-color);

    border-left: none !important;
}

.inverse .content-edge-inverse {
    border-right-width: 3.5vw !important;
}

.inverse .content-strip-inverse {
    border-right-color: transparent !important;

    margin-right: -3vw;
    margin-left: 0 !important;
}

.inverse .content-bg-inverse {
    background-image: url("../img/5.jpg") !important;

    margin-right: -5vw;
    margin-left: 0 !important;
}

.como-participar {
    height: 80%;
    width: 100%;
}

.passos-participar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    background-color: var(--dark-color);
    color: var(--white-color);

    box-shadow: 0px 0px 0px 5px var(--highlight-color) ;
}

.como-participar .texto-participar {
    border-bottom: 5px solid var(--highlight-color);
    border-bottom-left-radius: 25px;

    padding-bottom: 15px;
    margin-top: -20px;
    margin-left: -5px;
}

